<footer class="footer footer-center px-8 py-6 bg-secondary text-primary-content bottom-0">

  <div>
    <p class="font-bold inline-flex items-center">
      {{ t('footer.made_with') }}
      @svg('ph:heart-fill', { class: 'w-4 h-4 text-red-700 mx-1' })
      {{ t('footer.by_wilson') }}
    </p>
  </div>

</footer>