<!DOCTYPE html>
<html lang="es" data-theme="pastel">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="poesía.pics - Una foto, un poema">
  <meta name="theme-color" content="#dd2d44">
  <title>{{ title }} - poesia.pics</title>
  <meta property="og:image" content="{{title}} - poesia.pics">

  <link rel="icon" href="/icons/64x64.aa5b2829.png" data-h-2c9d455="">
  <link rel="apple-touch-icon" href="/icons/512x512.maskable.aa5b2829.png" sizes="512x512" data-h-bc1de16="">

  <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">

  <link rel="manifest" href="/manifest.json">
  <link rel='canonical' href="{{ request.completeUrl() }}" />

  <meta property="og:site_name" content="poesia.pics">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="es">

  @if(description)
  <meta name="description" content="{{description}}">
  <meta property="og:description" content="{{description}}">
  @else
  <meta name="description" content="poesía.pics - Una foto, un poema">
  <meta property="og:description" content="poesía.pics - Una foto, un poema">
  @end

  @if(image)
  <meta property="og:image" content="{{image}}">
  <meta name="twitter:image" content="{{image}}">
  @else
  <meta name="twitter:image" content="https://poesia.pics/icon.png">
  <meta property="og:image" content="https://poesia.pics/icon.png">
  @end

  <meta property="og:title" content="{{title}}">

  <meta name="og:url" content="{{ request.completeUrl() }}">
  <meta name="twitter:card" content="summary_large_image">

  @if(auth.user)
  <script>
    window.uid = "{{auth.user.username}}"
  </script>
  @end

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K40DJ3THNZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K40DJ3THNZ', {
      "user_id": window.uid
    });
  </script>

  @entryPointScripts('lazysizes')


</head>

<body class="bg-base-200">

  @include('partials/topbar')

  <main class=" flex min-h-screen w-full flex-col items-center justify-center pt-20">
    <div class="flex flex-1 {{ fullWidthLayout ? 'w-full' : 'max-w-2xl' }} p-5 pb-20">
      @!section('main')
    </div>

    @include('partials/footer')
  </main>

  @!section('scripts')

  <script src="https://cdn.lr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>
  <script>
    window.location.host === 'poesia.pics' && window.LogRocket && window.LogRocket.init('poesiapics/poesiapics');
    window.uid && window.LogRocket && window.LogRocket.identify(window.uid)
  </script>

</body>

</html>